
body {
  margin:0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  cursor:url('https://raw.githubusercontent.com/hbd1019/1019/master/1476854874114..cur'),auto;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
  /*background-color: #BEBEBE;*/
}
input{
  position:absolute;
  font-size: 30px;
  top:85px;
  left:600px;
}
.small{
  position:absolute;
  background: #d0d0d0; 
  top:0px;
  left:-5px;
  height:40px;
  width:1550px;
  opacity:0.5;
  z-index:-2;
}
.column{
  position:absolute;
  background: 	#FFFF93; 
  top:180px;
  left:50px;
  height:500px;
  width:300px;
  opacity:0.5;
  z-index:-2;

}
.bottom{
  position:absolute;
  background:	#000000; 
  top:700px;
  left:-5px;
  height:80px;
  width:1550px;

  z-index:-2;

}
.top{
  color:#7B7B7B;
  position:absolute;
  top:13px;
  opacity:1;
  z-index:-1;
}
#home{
  color:#7B7B7B;
  left:1270px;
}
#about{
  color:#7B7B7B;
  left:1330px;
}
#qa{
  color:#7B7B7B;
  left:1410px;
}
.tt{
  position:absolute;
  top:-10px;
  left:50px;
  font-size: 50px;
}
#text{
  position:absolute;
  top:500px;
  left:-5px;
}
#search-box {
  width: 400px;
  background: #E6E6E6 no-repeat 1px 1px;
  padding: 1px 1px 3px 22px;
}
#search{
  position:absolute;
  top:85px;
  left:550px;
  height:40px;
  width:40px;
  
}
.ph{
  position:absolute;
  top:180px;
  left:600px;
  height:400px;
  width:600px;
  z-index:-2;
}
.button1 {
  position:absolute;
  top:630px;
  left:775px;
  padding: 7px 7px;
  margin: 4px 10px;
  border-radius:999px; 
  border:2px DarkSalmon double;
  display:inline-block;
  background-color: burlywood;
}
.button2 {
  position:absolute;
  top:630px;
  left:800px;
  padding: 7px 7px;
  margin: 4px 10px;
  border-radius:999px;
  border:2px DarkSalmon double;
  display:inline-block;
  background-color:white;
}
.button3 {
  position:absolute;
  top:630px;
  left:825px;
  padding: 7px 7px;
  margin: 4px 10px;
  border-radius:999px;
  border:2px DarkSalmon double;
  display:inline-block;
  background-color:white;
}
.button4 {
  position:absolute;
  top:630px;
  left:850px;
  padding: 7px 7px;
  margin: 4px 10px;
  border-radius:999px;
  border:2px DarkSalmon double;
  display:inline-block;
  background-color:white;
}
.button5 {
  position:absolute;
  top:630px;
  left:875px;
  padding: 7px 7px;
  margin: 4px 10px;
  border-radius:999px;
  border:2px DarkSalmon double;
  display:inline-block;
  background-color:white;
}
.title{
  color:#7B7B7B;
  position:absolute;
  top: 60px;
  left:350px;
  font-family:cursive;
  font-size: 80px;
  opacity:1;
  z-index:-1;
}
#A{
  color:	#EAC100;
  top:49px;
  left:285px;
  font-size: 100px;
}
#S{
  color:	#000000;
  top:65px;
  left:580px;
  font-size: 100px;
}
.photo{
  position:absolute;
  height:300px;
  width:300px;
  z-index:-2;
}
.context{
  position:absolute;
  top:350px;
  left:800px;
  z-index:-2;
  font-family:cursive;
}
#num1{
  top:250px;
  left:450px;
}
#num11{
  top:350px;
}
#num2{
  top:600px;
  left:450px;
}
#num22{
  top:700px;
}
#num3{
  top:950px;
  left:450px;
}
#num33{
  top:1050px;
}
#num4{
  top:1300px;
  left:450px;
}
#num44{
  top:1400px;
}

#num5{
  top:1650px;
  left:450px;
}
#num55{
  top:1750px;
}

.opennav{
    font-size:22px;
    cursor:pointer;
    position:fixed;
    left:22px;
    top:20px;
    color:rgb(220, 220, 220,0.4);
}

.sidenav{
    height:100%;
    width:0;
    z-index:2;
    position:fixed;
    left:0;
    top:0;
    overflow-x:hidden;
    transition:0.4s;
    padding-top: 60px;
    background-color:#2f383f;
}

.sidenav a{
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color:#979c9f;
    transition:0.6s;
    display:block;
    font-family:sans-serif;
}

.sidenav a:hover, .offcanvas a:focus{
    color:gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.blueberry { margin: 0 auto; }
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.blueberry .slides li {
	position: absolute;
	top: 200px;
	left:100px;
  overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	height: 0;
	text-align: center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.blueberry .pager li a {
	padding: 18px 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;

}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;

}
.blueberry .pager li.active a span { background: #404040; }

footer{
    display:block;
    background:white;
    position:relative;
    height:60px;
    margin-top:0;
    bottom:0;
    width:100%;
    margin:0;
    padding:10px;
    background-color:#d0d0d0;
}
